body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Zabrání posouvání stránky */
}

/* Zakáže interakci s obrázky */
img {
    pointer-events: none;  /* Zakáže klikání */
    user-drag: none;       /* Zakáže přetahování */
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    draggable: false;
}

.container {
    position: relative;
    display: inline-block;
}

.background-img {
    width: 600px;
}

.overlay-img {
    position: absolute;
    width: 120px;
    top: 33%;
    left: 63%;
    transform: translate(50%, -78%);
}

/* Neviditelná vrstva přes celou stránku */
.overlay-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    pointer-events: all;
    z-index: 9999;
}

/* Skryje normální kurzor při přichycení */
.locked-cursor {
    cursor: none;
}

/* Větší custom kurzor */
.custom-cursor {
    position: fixed;
    width: 64px;  /* Zvýšená velikost kurzoru */
    height: 64px;
    background: url('img/fist.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    z-index: 10000;
    transition: top 0.2s ease-in-out; /* Hladká animace pohybu */
}
